/*===========Login Page=========== */
.logincolumn {

  max-width: 65%;
  max-height: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.my-facebook-button-class {
  display: block;
  text-align: center;
  margin-top: 3rem;
}

/*===========Main Page=========== */

html {
  height: 100%;
  max-width: 1520px;
  font-size: 100%;
}

body {

  background-image: url("./icons/background.png");
  background-repeat: no-repeat;
  background-size: 1537px 800px;
}

@font-face {
  font-family: 'Geomancy Extra Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Geomancy Extra Bold'), url('Geomancy - Extra Bold.woff') format('woff');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  max-width: 100%;
  height: auto;
}


.iconSize {
  height: 110px;
  width: 110px;
}

.leftIcons {
  margin-left: 30px;
}

.rightIcons {
  margin-left: 120px;
}

.icon2 {
  margin-top: 20px;
}

.icon3 {
  margin-top: 300px;
}

.xunbaoIcon {
  width: 70%;
  margin-top: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.underlineIcon {
  width: 70%;
  margin-top: -25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.xunbaoText {
  margin-top: -13px;
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.startButton {
  width: 18%;
  margin-top: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hideMobile {
  display: none;

}

/*===========Columns=========== */
.col4 {
  float: left;
  width: 25%;


}

.MobileIconsAlignment {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.col2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.col3 {
  float: left;
  width: 50%;

}

.col1 {
  margin-left: 12.5rem;
}

.col5 {
  width: 33%;
}

.mobileiconscssupper {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 70%;
  margin-bottom: 1rem;

}

.mobileiconscsslower {
  display: block;
  margin-right: auto;
  margin-left: auto;
  max-width: 40%;
  margin-top: 1rem;
}

/*===========Rules Page=========== */

.RulesContainer {
  margin-top: 1rem;
  background-color: black;
  border-radius: 7%;
  border: 0.4rem solid #Fda212;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}

.RulesList {
  color: #Fda212;
  font-family: Geomancy Extra Bold;
  font-size: 1.9rem;

}

.RulesListStartGame {
  color: #Fda212;
  font-family: Geomancy Extra Bold;
  font-size: 1.8rem;

}

.StartTheGame {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  width: 40%;
}

/*===========Developers Page=========== */

.DevelopersText {
  color: #Fda212;
  font-family: Geomancy Extra Bold;
  font-size: 300%;
  text-align: center;
}

.Developershr {
  border-top: 3px solid #Fda212;
  min-width: 40%;
  max-width: 40%;
}

.DevelopersImage {

  width: 60%;
  height: 35%;
  border: 0.4rem solid #Fda212;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;

}

.DevelopersImgText {
  margin-top: .8rem;
  color: white;
  font-family: Geomancy Extra Bold;
  font-size: 1.9rem;
  text-align: center;
}

.DevelopersDesignation {
  color: white;
  font-family: Geomancy Extra Bold;
  font-size: 1.0rem;
  text-align: center;
  margin-top: -1.2rem;
  margin-bottom: 7rem
}

/*===========Leaderboard Page=========== */

.LeaderboardHeading {
  color: #Fda212;
  font-family: Geomancy Extra Bold;
  font-size: 2rem;
  text-align: center;
}

.LeaderboardText {
  color: white;
  font-family: Geomancy Extra Bold;
  text-align: center;
  font-size: 1.8rem;

}


/*===========Question Page=========== */

.QuestionHeading {
  color: #Fda212;
  font-family: Geomancy Extra Bold;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 1.5rem;
}

.Questionhr {
  border-top: 3px solid #Fda212;
  width: 13rem;
  margin-top: -0.3rem;
}

.QuestionText {
  color: #Fda212;
  font-family: Geomancy Extra Bold;
  font-size: 1.7rem;
  text-align: center;
  margin-top: 1rem;
}

#AnswerField {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Geomancy Extra Bold;
  margin-top: 1rem;

}

.Submitimg {
  display: block;
  margin-left: auto;
  margin-right: -4rem;
  width: 40%;
  margin-top: 1.5rem;
}


.Hint {
  display: block;
  margin-right: auto;
  width: 17%;
  margin-top: 1.9rem;
  margin-left: 3rem;
}

.QuestionPageContainer {
  margin-top: 1rem;
  background-color: black;
  border-radius: 7%;
  border: 0.4rem solid #Fda212;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  width: 66.6%;
  max-width: 100%;
}

.hint_button {

  margin-top: 2rem;
  border-radius: 50%;
  margin-left: 3rem;
  border: 3px solid black;
  padding: 0px 0px 0px 0px;
  background-color: black;
}

.hint_img {
  height: 70px;
}

.SubmitButtonCss {

  padding: 0px 0px 0px 0px;
  background-color: black;
  border: 3px solid black;
}



/*===========User Page=========== */

#user_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #Fda212;
  display: block;
  margin-right: 1.2rem;
  margin-left: auto;
}

#user_text {
  font-family: Geomancy Extra Bold;
  margin-top: 0.8rem;
  color: #Fda212;
  margin-left: -0.5rem;

}

/*===========Modal Page=========== */
.modal {
  display: none;

  position: fixed;

  z-index: 1;

  padding-top: 50px;

  left: 0;
  top: 0;
  width: 200px;

  height: 200px;

  overflow: auto;

  background-color: rgb(0, 0, 0);

  background-color: rgba(0, 0, 0, 0.4);

}

.modal-content {

  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 10px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 1px 12px;
  background-color: #Fda212;
  color: white;
}

.modal-body {
  padding: 1px 12px;
}

.modal_container {
  max-width: 100px;
}

#hint_para {


  font-family: Geomancy Extra Bold;
  text-align: center;


}




/*===========Mobile Page=========== */
@media only screen and (max-width: 500px) {

  html {
    height: 100%;
    max-width: 360px;
    font-size: 100%;

    width: 100%;
  }

  body {

    background-image: url("./icons/background.png");
    background-repeat: repeat;
    background-size: 1537px 700px;
    max-width: 400px;
  }


  .mobilecolumn {

    margin-left: 1.0rem;
    margin-right: auto;
  }

  .hide {
    display: none;

  }



  .hideMobile {
    display: inline-block;

  }

  .RulesContainer {
    margin-top: 10px;
    background-color: black;
    border-radius: 7%;
    border: 2px solid #Fda212;
    padding: 15px 15px 15px 15px;
  }

  .RulesList {
    color: #Fda212;
    font-family: Geomancy Extra Bold;
    font-size: 0.9rem;

  }

  .DevelopersImage {

    width: 50%;
    border: 0.4rem solid #Fda212;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2rem;
    height: 60%;

  }

  .DevelopersImgText {
    margin-top: .8rem;
    color: white;
    font-family: Geomancy Extra Bold;
    font-size: 1.5rem;
    text-align: center;
  }

  .DevelopersDesignation {
    color: white;
    font-family: Geomancy Extra Bold;
    font-size: 1.0rem;
    text-align: center;
    margin-top: -1.2rem;
    margin-bottom: 0.5rem
  }

  .DevelopersText {
    color: #Fda212;
    font-family: Geomancy Extra Bold;
    font-size: 200%;
    text-align: center;
  }

  .Developershr {
    border-top: 3px solid #Fda212;

  }

  .RulesListStartGame {
    color: #Fda212;
    font-family: Geomancy Extra Bold;
    font-size: 0.85rem;

  }

  .StartTheGame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 50%;
  }

  .LeaderboardHeading {
    color: #Fda212;
    font-family: Geomancy Extra Bold;
    font-size: 1.2rem;
    text-align: center;
  }

  .LeaderboardText {
    color: white;
    font-family: Geomancy Extra Bold;
    font-size: 0.8rem;
    text-align: center;
  }

  .xunbaoIcon {
    width: 95%;
    margin-top: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }

  .underlineIcon {
    width: 90%;
    margin-top: -10px;
    height: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .xunbaoText {
    margin-top: 0.5rem;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .startButton {
    width: 35%;
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .QuestionPageContainer {
    margin-top: 1rem;
    background-color: black;
    border-radius: 7%;
    border: 0.4rem solid #Fda212;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .Submitimg {
    display: block;
    margin-left: auto;
    margin-right: -1rem;
    height: 40%;
    width: 92%;
    margin-top: 0rem;
  }

  .Submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
    margin-top: 1.5rem;
  }

  .hint_button {

    margin-top: 0rem;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid black;
    padding: 0px 0px 0px 0px;
    background-color: black;
  }

  .hint_img {
    height: 40px;
  }
}